/*Styles by Mike Doan - Made for use with Bootswatch Simplex*/

body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-inverse {
    background-color: #444444;
    border-color: #555555;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.content {
    padding-top: 50px;
}

.panel-link:hover {
    text-decoration: none;
    color: #91170a;
}

.panel-link:hover:focus {
    text-decoration: none;
    color: #91170a;
}
.panel-link:visited, .panel-link:focus {
    text-decoration: none;
    color: #d9230f;
}
